<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.dexnamic.alwayscharged" android:versionCode="4"
	android:versionName="1.1.3">

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="15" />

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<supports-screens android:anyDensity="true" android:smallScreens="true" android:largeScreens="true" android:resizeable="true" android:normalScreens="true"/>

	<application android:icon="@drawable/battery"
		android:label="@string/app_name"
		android:backupAgent="MyPrefsBackupAgent">
		<meta-data android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAIwIFuER3ObsRuVV2SwJAWK96tpjpXzkw1Im4esw" />
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".AlarmActivity" android:label="@string/app_name"
			android:noHistory="true" android:excludeFromRecents="true"
			android:screenOrientation="nosensor">
		</activity>
		<activity android:name=".AdvancedPreferences" android:label="@string/advanced_settings">
		</activity>
		<receiver android:name=".AlarmReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" android:path="com.dexnamic.alwayschanged" />
			</intent-filter>
		</receiver>
		<service android:name=".AlarmService" />
		<service android:name=".PowerSnoozeService" />
	</application>

</manifest> 